@import "tailwindcss";

@theme {
  --color-sunshine: #ebf5df;
  --color-malachite: #bad4aa;
  --color-sandstone: #d4d4aa;
  --color-sunrise: #edb458;
  --color-papaya: #e8871e;
}

canvas {
  pointer-events: none;
}
